#illustrationBody {
    font-size: 24px;
    padding-top: 25px;
    background-color: #F0BDC6;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #illustrationBody {
        font-size: 16px;
    }
  }
