#foodieCatsHeader {
    background-color: #F0BDC6;
    border-bottom: none !important;
    padding-top: 30px;  
};

#foodieCatsBody {
    font-size: 24px;
    padding-top: 30px;
    background-color: #F0BDC6;
};

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #foodieCatsBody {
        font-size: 16px;
    };
  };
