.App {
  text-align: center;
  width: 100%;
}

#root {
  background-color: #CAE9BD;
  font-family: 'Jura', sans-serif;
}

.card {
  border: none;
}
.card-body {
  background-color: #F0BDC6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.iFrameAnimations {
  width: 100%;
  height: 600px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .iFrameAnimations {
      width: 100%;
      height: 200px;
    }
  }
